﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Team Management System</title>
    <meta charset="utf-8"/>
    <!--Library Designs-->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/font-awesome.css" rel="stylesheet" />
    
    <!--Library JS-->
    <script src="scripts/jquery-3.1.1.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular.js"></script>

    <!--Custom JS-->
</head>
<body>
<div class="container">
    <div class="container-fluid">
        <div ng-app><h1>{{100/4}}</h1></div>
        
    </div>
</div>
</body>
</html>
